@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: grid;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    grid-template: "header" "header"
                     "hero" "hero"
                     "main" "main"
                   "footer" "footer";
}
header {
    display: flex;
    position: sticky;
    top: 0;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    padding: 1rem;
}

.about_us, .pictures, .prices, .location {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

